body{
  font-family: 'Public Sans', sans-serif;
  margin: 0;
}

p{
  line-height: 2;
}

/*button properties*/
.request-button{
  width: 11rem;
  height: 3rem;
  background-image:linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  border-radius:50px;
  color: white;
}


/*bacgkroudn phone properties*/
.background-mobile{
  position:absolute;
  z-index: -1;
  top:0;
  width:100%;
}

.background-desktop{
  display: none;
  visibility: hidden;
}

/*pop choice*/
.notshowed{
  display: none;
  visibility: hidden;
}

.opacity-reduced{
  opacity: 0.5;
}


.pop-choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 65%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: 7rem;
  left: 18%;
  height: 18rem;
  padding-top: 1rem;
}


.pop-choice-list{
  text-decoration: none;
  color: black;
  margin: 1rem 0;
}

/*for main body*/


/*navigation bar*/
.nav-class{
  display:flex;
  justify-content:space-between;
  padding:2rem 1rem;
  background-color:white;
}

.nav-choice, .navigation-button{
  display:none;
  visibility:hidden;
}


/*first page*/
.first-page{
  display:flex;
  flex-direction:column-reverse;
  overflow-y: hidden;
  position:relative;
  overflow-x: hidden;
}

.first-page-left{
  text-align: center;
}

.phone-image{
  width: 100%;
  position: relative;
  bottom: 8.6875em;
}

.first-page-description{
  color: hsl(233, 8%, 62%);
}


/*second page*/
.second-page{
  text-align: center;
  margin-top: 7rem;
}

.second-page-description, .second-page-description1{
  padding:0 1rem;
  color: hsl(233, 8%, 62%);
}




/*fourth page*/
.article-image1, .article-image2, .article-image3, .article-image4, .article-image5{
  width: 90%;
  position: relative;
  left: 5%;
}

.article-description1, .article-description2, .article-description3, .article-description4{
  width: 90%;
  position: relative;
  left: 5%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.fourth-page{
  margin: 5rem 0;
}

.fourth-page-header{
  text-align: center;
}

.description-block{
  display:block;
}

.small-description{
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
  margin-bottom: 1.3rem;
}

.medium-description{
  color: hsl(233, 8%, 62%);
}

.large-description{
  font-size:1.3rem;
}


/*footer page*/
.footer-page{
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  padding: 2rem 0;
}

.footer-page-image{
  color: white;
}

.social-icon{
  margin: 1rem 0;
}


.footer-link{
  display: flex;
  flex-direction:column;
  text-align: center;
  margin: 1rem 0;
}

.left-footer-link, .right-footer-link{
  display: flex;
  flex-direction: column;
}

.footer-link-list{
  color: white;
  text-decoration: none;
  margin: 0.3rem 0;
}

.fab{
  margin: 0.3rem;
  color: white;
}


.copyright-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.copyright{
  color: hsl(233, 8%, 62%);
}

@media(min-width: 700px){
  .first-page-description, .second-page-description1, .second-page-description{
    font-size:1.2rem;
  }

  .first-page-description{
    padding: 0 3rem;
  }

  .small-description{
    font-size:1rem;
  }

  .large-description{
    font-size:1.5rem
  }


  .second-page-description,   .second-page-description1{
    padding:0 4rem;
  }

  .features-header{
    font-size: 1.6rem;
  }
}


@media(min-width:1000px){
  .first-page-header, .fourth-page-header, .second-page-header{
    font-size: 3rem;
  }

  .features-image{
    width:15%;
  }

  .second-page-description1,.second-page-description, .first-page-description{
    padding:0 5rem;
    font-size:1.5rem;
  }

  .features-header{
    font-size:2rem;
  }

}

/*desktop version*/
@media(min-width:1440px){

/*desktop background transition*/
.background-mobile{
  display: none;
  visibility: hidden;
}

.background-desktop{
  display: block;
  visibility: visible;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 50%;
  top: -45%;
}


/*pop choice gone*/
.pop-choice{
  display:none;
  visibility: hidden;
}

.first-page, .second-page, .fourth-page, .footer-page{
  opacity: 1;
}


/*navigation-bar*/

.nav-class{
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color:white;
}

.nav-choice-list{
  text-decoration: none;
  margin: 0 0.8rem;
  color: hsl(233, 8%, 62%);
}


.right-nav{
  display:none;
  visibility:hidden;
}

.nav-choice, .navigation-button{
  display:block;
  visibility:visible;
}

.navigation-request-button{
  width: 11rem;
  height: 3rem;
  background-image:linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  border-radius:50px;
  color: white;
  margin: 0
}

/*first page*/
.first-page{
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  margin-top: 1rem;
  position: relative;
}

.first-page-header{
  font-size:4rem;
  margin: 1rem 0;
}

.first-page-left{
  text-align: left;
  padding-left: 3rem;
}

.first-page-description{
  width: 70%;
  padding: 0;
  font-size:1.3rem;
}

.first-page-right{
  position: relative;
  left:7%;
}

.phone-image{
  bottom: 0;
  position: static;
}

/*second page*/
.second-page{
  padding-left:3rem;
}

.second-page-why{
  text-align: left;
}

.second-page-description1{
  padding: 0;
  text-align: left;
  width: 50%;
  font-size:1.3rem;

}

.features{
  display:flex;
  margin: 7rem 0;
}

.features-image{
  width:35%;
}


.features-header{
  font-size:1.8rem;
}


.different-features-image{
  width:32%;
}

.second-page-header{
  font-size:3.5rem;
  margin-bottom: 0;
}


.second-page-description{
  text-align: left;
  padding: 0;
  font-size: 1.2rem;
}

.features1, .features2, .features3, .features4{
  text-align: left;

}

.features1, .features4{
    margin-right: 1rem;
}

.features2, .features3{
  margin: 0 1rem;
}


/*fourth page*/
.fourth-page{
  padding-left: 3rem;
}

.list-of-articles{
  display:flex;
}

.fourth-page-header{
  text-align: left;
}

.article-image1, .article-image2, .article-image3, .article-image4, .article-image5{
  height: 40%;
  left: 0;
}

.article-description1, .article-description2, .article-description3, .article-description4{
  left: 0;
}


/*footer page*/
.footer-page{
  flex-direction: row;
  justify-content: space-around;
}

.footer-link{
  flex-direction: row;
  text-align: left;
}

.social-icon{
  margin-bottom: 0;
  margin-top:2rem;
}

.left-footer-link{
  margin-right: 3rem;
}

.copyright-button{
  margin-right:0;
}

}
